
$right:right;
$left:left;
$mainBgColor:#10100f;
$maincolor:#bfaa81;
$scondColor:#443922;
$navhieght:50px;
$border:1px solid #bfaa81;
*{
    font-family: 'Harmattan', sans-serif;
    font-size: 20px
}
body{
    background-color: #1c1c15
}
.row{
    margin-bottom: 15px;
}
.modal-content{
    box-shadow: none;
    float: left;
    width: 100%;
    margin: 25px;
    transition: all ease-in-out .5s
}


.nav-pills>li>a {
    color: $maincolor;
    border: 1px solid $maincolor;}
    
    .nav-pills>li>a:hover{
        border-left: 4px solid $maincolor;
        background-color: $scondColor
    }
.myNav{
    background-color: $mainBgColor;
    color: $maincolor;
    border-bottom: $border;
    height: $navhieght;
    padding:7px;
    width: 85%;
    margin-left: 15%;
    .dropdown-menu{
        background-color: $maincolor
    }
}
.btn{
   border: 2px solid #BEA780;
   background-color: transparent

}

    .dropdown-menu{
        right: 47px!important;
    
    }

.profile{
    float: $right;
    color: $maincolor
}

.fix{
    background-color: $mainBgColor;
    color: $maincolor;
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    border:$border;
   
}
.logo {
    height: 80px
}

.veiw{
    margin-top: $navhieght + 25;
    width: 89%;
    float: right;
}

%icon{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    line-height: 1;
}
.big{
    @extend %icon;
    margin-right: 4px;
    color: #cbcbcb;
    
}
.bigger{
    width: 82%;
    height: 400px
}
.search{
    margin-top: 30px;
    width: 97%;
    clear: both
}
.table{
    border:$border;
    tr:hover{
        background-color: $scondColor;
        color: $maincolor
    }
}
footer{
   position: fixed;
   bottom: 0;
   width: 15%;
    background-color: $mainBgColor;
    color: #fff
}
.inner-aside{
    position: relative
}
.addEmployee{
    padding-left: 6%;
    color: $maincolor
}
.form-control{
    background-color: $mainBgColor
}
.form-control:focus{
    border-color: $maincolor
}
.input-group-addon{
    background-color: $scondColor;
    color: $maincolor
}