
$right:right;
$left:left;
$maincolor:#DDD;
$navhieght:50px;
$border:1px solid #ddd;
.row{
    margin-bottom: 15px;
}
.modal-content{
    box-shadow: none;
    float: left;
    width: 33.33333%;
    margin: 25px;
    transition: all ease-in-out .5s
}
.myNav{
    border-bottom: $border;
    height: $navhieght;
    padding:7px;
    background-color: #fafafa;


.profile{
    float: $right;
    color: $maincolor
}
}
.fix{
    position: fixed;
    top: $navhieght;
    width: 15%;
    height: 100%;
    border:$border;
    background-color: #fafafa;

}

.veiw{
    margin-top: $navhieght + 25;
    margin-left: 18%;
    width: 82%
}
.form-control{
    width: 90%
}
%icon{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    line-height: 1;
}
.big{
    @extend %icon;
    margin-right: 4px;
    color: #cbcbcb;
    
}
.bigger{
    width: 82%;
    height: 400px
}
.table{
    border:$border;
    width: 98%;
    tr:hover{
        background-color: #fafafa;
        color: #333
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff
}