
$right:right;
$left:left;
$mainBgColor:rgb(16, 16, 15);
$maincolor:#bfaa81;
$scondColor:#443922;
$bgColorBody:#1c1c15;
$navhieght:50px;
$border:1px solid #bfaa81;
*{
    font-family: 'Harmattan', sans-serif;
    font-size: 20px;
    transition: all ease-in-out .5s;


}
body{
    background-color: $bgColorBody;
    overflow-x: hidden
}
.row{
    margin-bottom: 15px;
}
button:focus{
    outline: none!important
}
.modal-content{
    box-shadow: none;
    float: left;
    width: 100%;
    margin: 25px;
    transition: all ease-in-out .5s;
    border: 1px solid #6d6142;

.modal-header{
    border-color: $scondColor;
    background-color: $mainBgColor;
    color: $maincolor;
    padding: 7px;
    
    .fa, .far, .fas{
        color: $maincolor;
        opacity: .2;
        display: inline-block;
        margin-right: 5px
    }
    .fa:hover, .far:hover, .fas:hover{
        opacity: 1;
    }
    .clos .fa{
        font-size: 21px
    }
}
.modal-body{
    background-color: $bgColorBody;
    color: $maincolor;
    border: $border
}
.modal-footer{

    background-color: $mainBgColor;
    border-top-color: $scondColor
}

}

.btn.focus, .btn:focus, .btn:hover{
    color: $maincolor;
    background-color: $scondColor;
    outline:none;

}
.nav-pills>li>a {
    color: $maincolor;
    border: 1px solid $maincolor;}
.nav>li>a>img{
    max-width: 100%
}
.nav-pills>li>a:hover, .nav-pills>li>a:hover, .nav>li>a:focus, .nav>li>a:hover{
    border-left: 4px solid $maincolor;
        background-color: $scondColor!important
    }
.add-width-nav{
    left: 0!important;
    width: 100%;
    left: 0  
}
.myNav{
    background-color: $mainBgColor;
    color: $maincolor;
    border-bottom: $border;
    height: $navhieght;
    padding:7px;
    width: calc(100%-180px);
    left: 180px;
    transition: all ease-in-out .5s;

    .dropdown-menu{
        background-color: $maincolor;
        color: $scondColor;
        right: 150px!important;
       
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: $scondColor;
        color: $maincolor
    }
    .cus .fa:hover{
        color:rgba(160, 155, 80, 0.486);
        cursor: pointer;
        transform: scale(1.2)
    }
}
.btn{
   border: 2px solid #BEA780;
   background-color: transparent

}

    
.profile{
    color: $maincolor;
    padding-right: 10%;
}
aside{
    width: 180px;
    display: inline-block
    

}
.fix{
    background-color: $mainBgColor;
    color: $maincolor;
    position: fixed;
    top: 0;
    bottom: 0;

    width: 180px;
    height: 100%;
    border:$border;
    transition: all ease-in-out .5s;
   
}
.logo {
    height: 80px
}

.veiw{
    margin-top: $navhieght + 25;
    width:calc(100% - 240px);
    float: right;
    transition: all ease-in-out .5s;


}

%icon{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    line-height: 1;
}
.big{
    @extend %icon;
    margin-right: 4px;
    color: #cbcbcb;
    
}
.bigger{
    width: 90%;
    height: 600px
}
.search{
    margin-top: 30px;
    width: 97%;
    clear: both
}
.table{
    border:$border;
    tr:hover{
        background-color: $scondColor;
        color: $maincolor
    }
}
footer{
    background-color: $mainBgColor;
    color:$maincolor;
    margin-top: 50px
}
.add-width {
    margin-right: 180px
    
}
.hidden-aside {
    margin-left: -240px;
}
.inner-aside{
    position: relative
}
.addEmployee{
    padding-left: 6%;
    color: $maincolor
}
.form-control{
    background-color: $mainBgColor
}
.form-control:focus{
    border-color: $maincolor
}
.input-group-addon{
    background-color: $scondColor;
    color: $maincolor
}

._720kb-datepicker-calendar{
    background-color: $scondColor;
    color: $maincolor
}
._720kb-datepicker-calendar-month{
    color: $maincolor
}
._720kb-datepicker-calendar-month span{
    color: $maincolor
}
._720kb-datepicker-calendar-days-header div{
    color: $maincolor
}
._720kb-datepicker-calendar-day._720kb-datepicker-disabled, ._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover{
    color: rgba(0,0,0,.6)
}
._720kb-datepicker-calendar-days-header{
    background-color: #3b311d
}
._720kb-datepicker-calendar-header:nth-child(odd){
    background-color: #2d2516
}
._720kb-datepicker-calendar-header:nth-child(even){
    background-color: #443922
}
/* Media Query */

@media only screen and (max-width: 500px) {
    .veiw{
        width: 100%
    }
    .modal-content{
        margin: 0
    }
    .myNav{
        left: 0
    }
    .fix{
        margin-left: -240px
    }
    .hidden-aside {
        margin-left: 0;
    }
    .add-width{
        margin-right: -180px
    }
    .add-width-nav{
        left: 180px!important;
        width: 100%;
    }
}
